<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wheresmystuff"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="6"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustPan" >
        <activity
            android:name="com.example.wheresmystuff.LoginScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.wheresmystuff.SignupPageActivity" />
        <activity android:name="com.example.wheresmystuff.OptionsActivity" />
        <activity android:name="com.example.wheresmystuff.CreateLostItemFragmentActivity" />
        <activity
            android:name="com.example.wheresmystuff.RegisterError"
            android:label="@string/title_activity_register_error" >
        </activity>
        <activity
            android:name="com.example.wheresmystuff.AllLostItemsListActivity"
            android:label="@string/title_activity_all_lost_items" >
        </activity>
        <activity
            android:name="com.example.wheresmystuff.AdminScreenActivity"
            android:label="@string/title_activity_admin_screen" >
        </activity>
        <activity
            android:name="com.example.wheresmystuff.AllFoundItemsListActivity"
            android:label="@string/title_activity_all_found_items_list" >
        </activity>
        <activity
            android:name="com.example.wheresmystuff.Test_a"
            android:label="@string/title_activity_test_a" >
        </activity>
    </application>

</manifest>